<html>
<div class="">
    <div class="aHl"></div>
    <div id=":18o" tabindex="-1"></div>
    <div id=":18d" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
        <div id=":18c" class="a3s aiL msg6357613309037983444">
            <div class="adM">
            </div>
            <div lang="EN-US" link="blue" vlink="#954F72" style="word-wrap:break-word">
                <div class="adM">
                </div>
                <div class="m_6357613309037983444WordSection1">
                    <div class="adM">
                    </div>
                    <div>
                        <div class="adM">
                        </div>
                        <p class="MsoNormal" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Hi
                            there,<br>
                            <br>
                            Welcome to the Sourcing and Supply Chain Masterclass for eComm course by SourciED!
                            <br>
                            <br>
                            My name's Chloe and I'm the Community Manager at SourciED. I'm here if you need any support
                            throughout your journey as you move through this epic course.<br>
                            <br>
                            I'd love to invite you to join our exclusive Facebook community hub where you can connect
                            with all of the aspiring and established entrepreneurs taking the Sourcing &amp; Supply
                            Chain Masterclass for eComm course to connect, grow, learn and be inspired! To join,
                            click <a href="https://www.facebook.com/groups/1285275718963737" target="_blank">here</a>.
                            Sourci's&nbsp;co-founder and CEO Giovanni Pino will be hosting fortnightly live Q&amp;A
                            sessions in the group where you can ask him any questions you have and get some extra
                            tips.&nbsp;<u></u><u></u>
                        </p>
                        <p class="MsoNormal" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">As
                            part of your involvement with the course, you also receive
                            complimentary access to Sourci's Factory Finder Platform! This platform searches the
                            corners of the internet to put forward the best manufacturing partner options for you
                            based
                            on a number of factors. Your account has been created for you already! To set your
                            password, please click
                            <a href="{{url}}" target="_blank">
                                here</a>.&nbsp;<u></u><u></u>
                        </p>
                        <div>
                            <p class="MsoNormal" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                Please reach out if I can support you in any way. Wishing you the very
                                best of luck smashing out this amazing course - you'll be crushing your eComm brand in
                                no time!<u></u><u></u></p>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <p style="margin-bottom:6.0pt"><b><span
                                                                style="font-size:10.0pt;font-family:Arial,sans-serif;color:black">Kind
                                                                Regards,</span></b><span
                                                            style="font-size:10.0pt;font-family:Segoe UI,sans-serif;color:black"><u></u><u></u></span>
                                                    </p>
                                                    <table border="0" cellpadding="0" width="480" style="width:5.0in">
                                                        <tbody>
                                                            <tr>
                                                                <td width="160" valign="top"
                                                                    style="width:120.0pt;padding:7.5pt .75pt 9.0pt .75pt">
                                                                    <p class="MsoNormal"><span
                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:#444444"><img
                                                                                border="0" width="155" height="155"
                                                                                style="width:1.6145in;height:1.6145in"
                                                                                src="https://7854587.fs1.hubspotusercontent-na1.net/hubfs/7854587/staff_images/b6515d2a-57eb-40d0-98cb-e20a6c0ee584.png"
                                                                                alt="Chloe Rankin" class="CToWUd a6T"
                                                                                data-bit="iit" tabindex="0">
                                                                            <div class="a6S" dir="ltr"
                                                                                style="opacity: 0.01; left: 110px; top: 558.984px;">
                                                                                <div id=":19h"
                                                                                    class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                                    role="button" tabindex="0"
                                                                                    aria-label="Download lampiran "
                                                                                    data-tooltip-class="a1V"
                                                                                    data-tooltip="Download">
                                                                                    <div class="akn">
                                                                                        <div class="aSK J-J5-Ji aYr">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </span><span
                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:#444444"><u></u><u></u></span>
                                                                    </p>
                                                                </td>
                                                                <td width="320"
                                                                    style="width:240.0pt;padding:4.5pt .75pt 4.5pt 0in">
                                                                    <table border="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="padding:.75pt .75pt .75pt 0in">
                                                                                    <p class="MsoNormal"><b><span
                                                                                                style="font-size:12.0pt;font-family:Arial,sans-serif;color:black">Chloe
                                                                                                Rankin</span></b><b><span
                                                                                                style="font-size:12.0pt;font-family:Arial,sans-serif"><u></u><u></u></span></b>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="padding:.75pt .75pt 8.25pt 0in">
                                                                                    <p class="MsoNormal"><span
                                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:black">SourciED
                                                                                            Community
                                                                                            Manager</span><span
                                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:#3d3c3f"><u></u><u></u></span>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="padding:.75pt .75pt 8.25pt 0in">
                                                                                    <p class="MsoNormal"><span
                                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:black">Check
                                                                                            us out:&nbsp;&nbsp;<a
                                                                                                href="http://www.sourci.com.au/"
                                                                                                target="_blank"><span
                                                                                                    style="color:#1155cc">www.sourci.com.au</span></a></span><span
                                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:#3d3c3f"><u></u><u></u></span>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="padding:.75pt .75pt .75pt 0in">
                                                                                    <p class="MsoNormal"><b><span
                                                                                                style="font-size:10.0pt;font-family:Arial,sans-serif;color:#6e6d6d">Phone:</span></b><span
                                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:#6e6d6d">&nbsp;
                                                                                            0411 256 739</span><span
                                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:#9b9b9b"><u></u><u></u></span>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="padding:.75pt .75pt .75pt 0in">
                                                                                    <p class="MsoNormal"><b><span
                                                                                                style="font-size:10.0pt;font-family:Arial,sans-serif;color:#6e6d6d">Email:</span></b><span
                                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:#6e6d6d">&nbsp;&nbsp;<a
                                                                                                href="mailto:clara@sourci.com.au"
                                                                                                target="_blank"><span
                                                                                                    style="color:#1155cc">clara@sourci.com.au</span></a></span><span
                                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:#9b9b9b"><u></u><u></u></span>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="padding:.75pt .75pt .75pt 0in">
                                                                                    <p class="MsoNormal"><b><span
                                                                                                style="font-size:10.0pt;font-family:Arial,sans-serif;color:#6e6d6d">HQ:</span></b><span
                                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:#6e6d6d">&nbsp;Level
                                                                                            5/600 Church Street,
                                                                                            Cremorne VIC 3121
                                                                                            Australia</span><span
                                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif"><u></u><u></u></span>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="padding:4.5pt .75pt .75pt 0in">
                                                                                    <p class="MsoNormal"><a
                                                                                            href="https://www.facebook.com/sourci.co"
                                                                                            target="_blank"><span
                                                                                                style="color:#337ab7;text-decoration:none"><img
                                                                                                    border="0"
                                                                                                    width="23"
                                                                                                    height="23"
                                                                                                    style="width:.2395in;height:.2395in"
                                                                                                    src="https://cdn-icons-png.flaticon.com/512/124/124010.png"
                                                                                                    alt="Facebook icon"></span></a>&nbsp;&nbsp;<a
                                                                                            href="https://au.linkedin.com/company/sourci"
                                                                                            target="_blank"><span
                                                                                                style="color:#337ab7;text-decoration:none"><img
                                                                                                    border="0"
                                                                                                    width="23"
                                                                                                    height="23"
                                                                                                    style="width:.2395in;height:.2395in"
                                                                                                    src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                                                                                                    alt="Linkedin icon"></span></a>&nbsp;&nbsp;<a
                                                                                            href="https://www.youtube.com/channel/UCyTpWHaptpVNEOhPjtx0bGQ"
                                                                                            target="_blank"><span
                                                                                                style="color:#337ab7;text-decoration:none"><img
                                                                                                    border="0"
                                                                                                    width="23"
                                                                                                    height="23"
                                                                                                    style="width:.2395in;height:.2395in"
                                                                                                    src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png"
                                                                                                    alt="Youtube icon"></span></a><br>
                                                                                        <br>
                                                                                        <u></u><u></u>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <table border="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding:.75pt .75pt .75pt 0in">
                                                                <p class="MsoNormal" style="margin-bottom:12.0pt">
                                                                    <b><span
                                                                            style="font-size:10.0pt;font-family:Arial,sans-serif;color:#6e6d6d">Shenyang
                                                                            Office:&nbsp;</span></b><span
                                                                        style="font-size:10.0pt;font-family:Arial,sans-serif;color:#666666">Room
                                                                        1901, Building 3, Sunny
                                                                        World Center, No.10-3 Youhao Street, Shenhe
                                                                        District, Shenyang 110013, China<br>
                                                                    </span><span
                                                                        style="font-size:10.0pt;font-family:Segoe UI,sans-serif"><img
                                                                            border="0" width="451" height="55"
                                                                            style="width:4.6979in;height:.5729in"
                                                                            src="https://f.hubspotusercontent30.net/hubfs/7854587/Email%20Signature%20Assets/sourci-signature-image.png"
                                                                            class="CToWUd" data-bit="iit"></span><span
                                                                        style="font-size:12.0pt;font-family:Arial,sans-serif;color:#222222"><br>
                                                                    </span><span
                                                                        style="font-size:12.0pt;font-family:Arial,sans-serif;color:#666666">As
                                                                        seen in:</span><span
                                                                        style="font-size:12.0pt;font-family:Arial,sans-serif;color:#222222"><img
                                                                            border="0" width="451" height="48"
                                                                            style="width:4.6979in;height:.5in"
                                                                            src="https://f.hubspotusercontent30.net/hubfs/7854587/Email%20Signature%20Assets/sourci-clients.png"
                                                                            class="CToWUd" data-bit="iit"></span><span
                                                                        style="font-size:10.0pt;font-family:Segoe UI,sans-serif"><u></u><u></u></span>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p class="MsoNormal"><span
                                                        style="font-size:13.5pt;font-family:Segoe UI,sans-serif;color:black;display:none"><u></u>&nbsp;<u></u></span>
                                                </p>
                                                <table border="0" cellpadding="0" width="480" style="width:5.0in">
                                                    <tbody>
                                                        <tr>
                                                            <td width="480"
                                                                style="width:5.0in;border:none;border-top:solid #6e6d6d 1.0pt;padding:6.0pt .75pt .75pt 0in">
                                                                <p
                                                                    style="margin-bottom:12.0pt;text-align:justify;text-justify:inter-ideograph;text-align:start">
                                                                    <span
                                                                        style="font-size:12.0pt;font-family:Arial,sans-serif;color:#222222">This
                                                                        email and any files transmitted with it are
                                                                        confidential and intended solely for the use of
                                                                        the individual or entity to whom they are
                                                                        addressed.<u></u><u></u></span>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>